body{
    padding: 50px;
}

.list-group-item{
    align-items: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.complete {
    text-decoration: line-through;
    color: green;
    transform: scale(1.1,1.1);
    transition: 1s;
}

.uncomplete {
    transition: 1s;
}